@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto) / repeat (2, 250px));
            &-item {
                column-gap: 15px;
                grid-template-columns: 40px 175px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 340px);
            column-gap: 145px;
        }
    }
    .technology {
        &__wrapper {
            grid-template-columns: repeat(3, 1fr);
        }
        &__item {
            min-width: 235px;
        }
        &__skills {
            grid-template-columns: repeat(2, minmax(350px, auto));
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-between;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 35px;
        }
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 380px 300px;
        }

        &__skills {
            grid-template-columns: 300px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 60px;
        }
    }
    .technology {
        &__skill {
            width: 330px;
        }
    }
    .price {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 350px);
        }
    }
    .contacts {
        &__wrapper {
            justify-content: center;
        }
    }
    
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: auto;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .technology {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
        &__skills {
            margin-top: 60px;
            grid-template-columns: repeat(2, minmax(250px, auto));
        }
        &__skill {
            width: 250px;
        }
    }
    .portfolio {
        &__wrapper {
            justify-content: center;
        }
    }
    .price {
        padding-top: 60px;
        &__wrapper {
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 440px);
        }
    }

    .contacts {
        padding-top: 60px;

        &__wrapper {
            padding: 0;
        }
        &__photo {
            display: none;
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }

        &__textarea {
            grid-column: unset;
            width: 100%;
        }

        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }

        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }

        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}


@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background-position: 59%; 
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            padding: 60px 0 0 0;
        }
    }
    .technology {
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
        &__skill {
            width: 100%;
        }
    }
    .portfolio {
        padding-top: 60px;
    }
    .price {
        padding-top: 60px;

        &__wrapper {
            margin-top: 40px;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, 295px);
        }
    }
    }